<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav class="row d-flex justify-content-center">
    <p class="d-flex justify-content-center col-3 lightGray textColor h1 p-4 rounded-bottom">This is Dashboard</p>
    </nav>

    <div class="m-5 border rounded lightGray">
            <h2 class="almostWhite rounded-top p-2 headerText">
                Hello World
            </h2>
            <h4 class="px-2 rounded-bottom textColor">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam quibusdam libero accusamus error odio. Atque dolor sunt suscipit tempora explicabo, esse ipsum eius est eligendi, molestias, animi perspiciatis dolorum voluptas.
            </h4>
    </div>

    <div class="m-5 border rounded lightGray">
        <h2 class="almostWhite rounded-top p-2 headerText">
            Create New Post
        </h2>
        <form method="POST" >
            <label for="title" class="form-label">Title</label>
            
        </form>
    </div>




    <div class="row d-flex align-items-end justify-content-center">
        <button class="lightGray rounded col-2 d-flex justify-content-center textColor" id="newButton">
        <h2>+ New Post</h2>
        </button>
    </div>
<script src="../public/js/dash.js"><script>
</body>
</html>