body{
    background-color: #121212;
}
.lightGray {
    background-color: #343434;
    border-color: #343434;
}
.textColor {
    color: #08f3f7;
}
.almostWhite {
    background-color: #999;
}
.headerText {
    color: #020408;
    font-weight: bolder;
}
.silent {
    display:none;
}